{% extends 'layout.html.twig' %}

{% block title %}
    Job index
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('vendor/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
  <div id="jobs">
    {% for category in categories %}
      <div>
        <div class="category">
          <div class="feed">
            <a href="">Feed</a>
          </div>
          <h1><a href = "{{path('category_show', {'slug':category.getSlug()})}}">{{ category.name }} </a></h1>
        </div>
         {% include 'job/_list.html.twig' with {'jobs': category.activejobs} %}  

        {% if category.morejobs %}
            <div class="more_jobs">
              and <a href="{{ path('category_show', { 'slug': category.slug() }) }}">{{ category.morejobs }}</a>
              more...
            </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
