{% extends 'layout.html.twig' %}

{% block title %} New Job {% endblock %}

{% form_theme form _self %}
 
{% block field_errors %}
{#{% spaceless %} #}
  {% if errors|length > 0 %}
    <ul class="error_list">
      {% for error in errors %}
        <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{#{% endspaceless %}#}
{% endblock field_errors %}
 
{% block stylesheets %}
	  {{ parent() }}
	  <link rel="stylesheet" href="{{ asset('vendor/css/job.css') }}" type="text/css" media="all" />
{% endblock %}
 
{% block content %}
  	<h1>Job creation</h1>
    {{ include('job/_form.html.twig') }}

    <a href="{{ path('job_index') }}">back to list</a>
{% endblock %}
